<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>ASCII-Art Web</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>ASCII-ART WEB</h1>
        </header>

        <main>
            <form method="POST" action="/ascii-art">
                <label for="inputarea">Please provide input here:</label><br>
                <textarea id="inputarea" name="input" rows="10" cols="40" wrap="off" required></textarea><br>

                <label for="bannerChoice">Choose the style:</label>
                <select name="banner" id="bannerChoice">
                    <option value="standard" selected>Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>

                <input type="submit" value="Submit">
            </form>

            {{if .InputTxt}}
            <form action="/ascii-art/output.txt" method="POST">
                <input type=hidden name="res" value="{{.OutputTxt}}">

                <button type="submit">Download</button>
            </form>
            {{end}}

            <div class="output">
                <label>Output:</label><br>
                <pre><fieldset>{{.OutputTxt}}</fieldset></pre>
            </div>

            <form class="secondForm" action="/" method="POST">
                <button type="submit">Main Page</button>
            </form>
        </main>
    </div>
</body>

</html>